In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [2]:
dataframe = np.array([["<=30","high","no","fair","no"],
              ["<=30","high","no","excellent","no"],
              ["31...40","high","no","fair","yes"],
              [">40","medium","no","fair","yes"],
              [">40","low","yes","fair","yes"],
              [">40","low","yes","excellent","no"],
              ["31...40","low","yes","excellent","yes"],
              ["<=30","medium","no","fair","no"],
              ["<=30","low","yes","fair","yes"],
              [">40","medium","yes","fair","yes"],
              ["<=30","medium","yes","excellent","yes"],
              ["31...40","medium","no","excellent","yes"],
              ["31...40","high","yes","fair","yes"],
              [">40","medium","no","excellent","no"]])

In [3]:
dataframe = pd.DataFrame(dataframe,columns= ["Age","Income","Student","Credit Rating","buys_computer"])
dataframe

        Age  Income Student Credit Rating buys_computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31...40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31...40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31...40  medium      no     excellent           yes
12  31...40    high     yes          fair           yes
13      >40  medium      no     excellent            no

In [4]:
#A1
p=len(dataframe['buys_computer'])
p1=len(dataframe[dataframe['buys_computer']=='yes'])
print(p1)
p2=len(dataframe[dataframe['buys_computer']=='no'])
print(p2)

9
5

In [5]:
x=p1/p
y=p2/p
print("prior probablity of class=yes is: ",x)
print("prior probablity of class=no is: ",y)

prior probablity of class=yes is:  0.6428571428571429
prior probablity of class=no is:  0.35714285714285715

In [6]:
#A2
#student feature
#class=no

p3=dataframe[(dataframe['buys_computer']=='no') & (dataframe['Student']=='no')]
p4=p3[['Student','buys_computer']]
n=len(p4)
d=p2

x1=n/d
print("probablity that Student=no given class=no is:",x1)
print("probablity that Student=yes given class=no is:",1-x1)

#class=yes
p5=dataframe[(dataframe['buys_computer']=='yes') & (dataframe['Student']=='no')]
p6=p5[['Student','buys_computer']]
n1=len(p6)
d1=p1


x2=n1/d1
print("probablity that Student=no given class=yes is:",x2)
print("probablity that Student=yes given class=yes is:",1-x2)

probablity that Student=no given class=no is: 0.8
probablity that Student=yes given class=no is: 0.19999999999999996
probablity that Student=no given class=yes is: 0.3333333333333333
probablity that Student=yes given class=yes is: 0.6666666666666667

In [7]:
#credit rating
#class=no

p3=dataframe[(dataframe['buys_computer']=='no') & (dataframe['Credit Rating']=='fair')]
p4=p3[['Credit Rating','buys_computer']]
n=len(p4)
d=p2

x1=n/d
print("probablity that Credit Rating=fair given class=no is:",x1)
print("probablity that Credit Rating=excellent given class=no is:",1-x1)

#class=yes
p5=dataframe[(dataframe['buys_computer']=='yes') & (dataframe['Credit Rating']=='fair')]
p6=p5[['Credit Rating','buys_computer']]
n1=len(p6)
d1=p1

x2=n1/d1
print("probablity that Credit Rating=fair given class=yes is:",x2)
print("probablity that Credit Rating=excellent given class=yes is:",1-x2)

probablity that Credit Rating=fair given class=no is: 0.4
probablity that Credit Rating=excellent given class=no is: 0.6
probablity that Credit Rating=fair given class=yes is: 0.6666666666666666
probablity that Credit Rating=excellent given class=yes is: 0.33333333333333337

In [8]:
# income

#class=no

d1=dataframe[(dataframe['buys_computer']=='no') & (dataframe['Income']=='high')]
d2=d1[['Income','buys_computer']]
m1=len(d2)
m2=p2

x3=m1/m2
print("probablity that Income=high given class=no is:",x3)

d3=dataframe[(dataframe['buys_computer']=='no') & (dataframe['Income']=='medium')]
d4=d3[['Income','buys_computer']]
m1=len(d4)
m2=p2

x4=m1/m2
print("probablity that Income=medium given class=no is:",x4)
print("probablity that Income=low given class=no is:",1-(x3+x4))

#class=yes

d5=dataframe[(dataframe['buys_computer']=='yes') & (dataframe['Income']=='high')]
d6=d5[['Income','buys_computer']]
m1=len(d6)
m2=p1

x5=m1/m2
print("probablity that Income=high given class=yes is:",x5)

d7=dataframe[(dataframe['buys_computer']=='yes') & (dataframe['Income']=='medium')]
d8=d7[['Income','buys_computer']]
m1=len(d8)
m2=p1

x6=m1/m2
print("probablity that Income=medium given class=yes is:",x6)
print("probablity that Income=low given class=yes is:",1-(x5+x6))

probablity that Income=high given class=no is: 0.4
probablity that Income=medium given class=no is: 0.4
probablity that Income=low given class=no is: 0.19999999999999996
probablity that Income=high given class=yes is: 0.2222222222222222
probablity that Income=medium given class=yes is: 0.4444444444444444
probablity that Income=low given class=yes is: 0.33333333333333337

In [9]:
#age

#class=no

c1=dataframe[(dataframe['buys_computer']=='no') & (dataframe['Age']=='<=30')]
c2=c1[['Age','buys_computer']]
y1=len(c2)
y2=p2

x4=y1/y2
print("probablity that Age is <=30 and class=no is:",x4)

c3=dataframe[(dataframe['buys_computer']=='no') & (dataframe['Age']=='31...40')]
c4=c3[['Age','buys_computer']]
y3=len(c4)
y4=p2

x5=y3/y4
print("probablity that Age is in between 31 and 40 and class=no is",x5)
print("probablity that Age is >40 and class=no is",1-(x4+x5))

probablity that Age is <=30 and class=no is: 0.6
probablity that Age is in between 31 and 40 and class=no is 0.0
probablity that Age is >40 and class=no is 0.4

In [10]:
c5=dataframe[(dataframe['buys_computer']=='yes') & (dataframe['Age']=='<=30')]
c6=c5[['Age','buys_computer']]
y5=len(c6)
y6=p1

x6=y5/y6
print("probablity that Age is <=30 and class=yes is:",x6)

c10=dataframe[(dataframe['buys_computer']=='yes') & (dataframe['Age']=='>40')]
c8=c10[['Age','buys_computer']]
y7=len(c8)
y8=p1

x7=y7/y8
print("probablity that Age is >40 and class=yes is",x7)
print("probablity that Age is between 31 and 40 and class=yes is",1-(x6+x7))

probablity that Age is <=30 and class=yes is: 0.2222222222222222
probablity that Age is >40 and class=yes is 0.3333333333333333
probablity that Age is between 31 and 40 and class=yes is 0.4444444444444444

In [11]:
d=[['<=30','high','no','fair','no'],['<=30','high','no','excellent','no'],['31...40','high','no','fair','yes'],['>40','medium','no','fair','yes'],['>40','low','yes','fair','yes'],
            ['>40','low','yes','excellent','no'],['31...40','low','yes','excellent','yes'],['<=30','medium','no','fair','no'],['<=30','low','yes','fair','yes'],['>40','medium','yes','fair','yes'],
            ['<=30','medium','yes','excellent','yes'],['31...40','medium','no','excellent','yes'],['31...40','high','yes','fair','yes'],['>40','medium','no','excellent','no']]
d = pd.DataFrame(d,columns=['age','income','student','credit_rating','buys_computer'])
d

        age  income student credit_rating buys_computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31...40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31...40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31...40  medium      no     excellent           yes
12  31...40    high     yes          fair           yes
13      >40  medium      no     excellent            no

In [12]:
#A4
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
age_encoded=le.fit_transform(d['age'])
print("age_encoded:",age_encoded)
income_encoded=le.fit_transform(d['income'])
print("income:",income_encoded)
student_encoded=le.fit_transform(d['student'])
print("student:",student_encoded)
credit_rating_encoded=le.fit_transform(d['credit_rating'])
print("credit_rating:",credit_rating_encoded)
buys_computer_encoded=le.fit_transform(d['buys_computer'])
print("buys_computer:",buys_computer_encoded)

age_encoded: [1 1 0 2 2 2 0 1 1 2 1 0 0 2]
income: [0 0 0 2 1 1 1 2 1 2 2 2 0 2]
student: [0 0 0 0 1 1 1 0 1 1 1 0 1 0]
credit_rating: [1 0 1 1 1 0 0 1 1 1 0 0 1 0]
buys_computer: [0 0 1 1 1 0 1 0 1 1 1 1 1 0]

In [13]:
f=zip(age_encoded,income_encoded,student_encoded,credit_rating_encoded)
features=list(f)
features

[(1, 0, 0, 1),
 (1, 0, 0, 0),
 (0, 0, 0, 1),
 (2, 2, 0, 1),
 (2, 1, 1, 1),
 (2, 1, 1, 0),
 (0, 1, 1, 0),
 (1, 2, 0, 1),
 (1, 1, 1, 1),
 (2, 2, 1, 1),
 (1, 2, 1, 0),
 (0, 2, 0, 0),
 (0, 0, 1, 1),
 (2, 2, 0, 0)]

In [14]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(features,buys_computer_encoded)
predicted= model.predict([[0,0,0,1]])
predicted

array([1])

In [15]:
# This means if age<=30, income=high, credit_rating=excellent, student=no is 0. It means he cannot buy a computer.
# Similarly, all the cases can be tested using Naive Bayes Classifier
predicted1= model.predict([[0,0,0,0]])
predicted1

array([1])

In [16]:
from google.colab import files
uploaded = files.upload()

Saving loan_train.csv to loan_train.csv

In [17]:
#A5
import pandas as pd
d1=pd.read_csv(r'loan_train.csv')
d1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [18]:
d2=d1.loc[0:600,:]
d2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N

In [19]:
import numpy as np
d2 = d2.replace(np.nan, 0)
d2

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,0.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,0,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,0,416,41667.0,350.0,180.0,0.0,Urban,N

In [20]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [21]:
X=d2[['Credit_History']]
y=d2['Credit_History']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)
  
gb = GaussianNB()
gb.fit(X_train, y_train)

y_pred = gb.predict(X_test)
print(y_pred)
print("Accuracy:", metrics.accuracy_score(y_test, y_pred)*100)

[0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0.
 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1.
 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1.
 1. 0. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 0.
 1. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 1. 1. 0. 0. 1.
 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.]
Accuracy: 100.0

In [22]:
#A3
import numpy as np
from numpy.linalg import norm
cosine=np.dot(age_encoded,income_encoded)/(norm(age_encoded)*norm(income_encoded))
print(cosine)

0.7937253933193772

In [23]:
#feature age with income,student,creditrating
for i in [income_encoded,student_encoded,credit_rating_encoded]:
    c1=np.dot(age_encoded,i)/(norm(age_encoded)*norm(i))
    print("cosine similaity of age feature with",i,"is:", c1)

cosine similaity of age feature with [0 0 0 2 1 1 1 2 1 2 2 2 0 2] is: 0.7937253933193772
cosine similaity of age feature with [0 0 0 0 1 1 1 0 1 1 1 0 1 0] is: 0.6047431568147635
cosine similaity of age feature with [1 0 1 1 1 0 0 1 1 1 0 0 1 0] is: 0.6363961030678927

In [24]:
#feature income with student and creditrating
for i in [student_encoded,credit_rating_encoded]:
    c1=np.dot(income_encoded,i)/(norm(income_encoded)*norm(i))
    print("cosine similaity of income feature with",i,"is:", c1)

cosine similaity of income feature with [0 0 0 0 1 1 1 0 1 1 1 0 1 0] is: 0.5714285714285714
cosine similaity of income feature with [1 0 1 1 1 0 0 1 1 1 0 0 1 0] is: 0.5345224838248487

In [25]:
#feature student with creditrating
for i in [credit_rating_encoded]:
    c1=np.dot(student_encoded,i)/(norm(student_encoded)*norm(i))
    print("cosine similaity of student feature with",i,"is:", c1)

cosine similaity of student feature with [1 0 1 1 1 0 0 1 1 1 0 0 1 0] is: 0.5345224838248487

In [ ]:
# if cosine similarity is 1 then features are dependent.
#Above all the four features have no cosine similarity=1, so all the four features are independent.

In [27]:
#navis bayes
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import time
df=pd.read_csv("/content/loan_train.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [34]:
df=df.replace('?',0) #replace null values with 0
df['ApplicantIncome']=df['ApplicantIncome'].astype(int) #converting to int from string in dataset all the numbers r stored as strings
df['CoapplicantIncome']=df['CoapplicantIncome'].astype(int)
x=df[['ApplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']].astype(float)
x

     ApplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History
0             5849.0         NaN             360.0             1.0
1             4583.0       128.0             360.0             1.0
2             3000.0        66.0             360.0             1.0
3             2583.0       120.0             360.0             1.0
4             6000.0       141.0             360.0             1.0
..               ...         ...               ...             ...
609           2900.0        71.0             360.0             1.0
610           4106.0        40.0             180.0             1.0
611           8072.0       253.0             360.0             1.0
612           7583.0       187.0             360.0             1.0
613           4583.0       133.0             360.0             0.0

[614 rows x 4 columns]

In [35]:
from sklearn.preprocessing import MinMaxScaler # minmax scaler used to bring all the values to o t0 1
sclar=MinMaxScaler() 
x_small=sclar.fit_transform(x) #fit transform is used to get the values to specific scale
x_small

array([[0.07048856,        nan, 0.74358974, 1.        ],
       [0.05482993, 0.17221418, 0.74358974, 1.        ],
       [0.03525046, 0.08248915, 0.74358974, 1.        ],
       ...,
       [0.09798392, 0.35311143, 0.74358974, 1.        ],
       [0.09193568, 0.25759768, 0.74358974, 1.        ],
       [0.05482993, 0.17945007, 0.74358974, 0.        ]])

In [43]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


from sklearn.model_selection import train_test_split

x = X.iloc[:,:-1].values

y = X.iloc[:,-1].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
#